$yellow: #fffa19;

@mixin margenes($top, $button){
	
}

.jumbotron {
   background-color: $yellow;
   color: black;
   @include margenes(10px, 0px);
 }

 footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    padding-top: 20px;    
 }
 
.card-hotel {
 	flex: 1 200px;
   	border-radius: 0px;
 }	

  .btn-reserva {
  	width: 100%;
  	border-radius: 10px;
     	  	  
 }

 .footer-address-icon {
 	padding right: 10px;

  }

  .tab-content{
  	padding-top: 10px;
  }

  .card-hotel{
    flex: 1 230px ;
    margin-top: 10px;
}
